[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-celery-email = "*"
django-extensions = "*"
"psycopg2" = "*"
gunicorn = "*"
djangorestframework = "*"
django-rest-swagger = "*"
whitenoise = "*"
django-allauth = "*"
"flake8" = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
