{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="alert alert-info text-center">SERVICE VERSION DASHBOARD</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="{% url 'account_logout' %}">Logout {{ user.username }}</a>
      </div>
      <div class="col text-right">
        Reload per
        <input type="number" maxlength="2" max="999" min="15" style="width: 50px" id="reload_seconds"> seconds.
        <span class="badge badge-info">(<span id="reload_countdown"></span>)</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if not environments %}
          <div class="alert alert-warning">No data for displaying.</div>
        {% endif %}
        <nav>
          <div class="nav nav-tabs" id="environment-tab" role="tablist">
            {% for environment in environments %}
              <a class="nav-item nav-link"
                 id="nav-{{ environment }}-tab" data-toggle="tab"
                 href="#nav-{{ environment }}" role="tab" aria-controls="nav-{{ environment }}" aria-selected="true">
                {{ environment.title }}
              </a>
            {% endfor %}
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          {% for environment in environments %}
          <div class="tab-pane fade show" id="nav-{{ environment }}"
               role="tabpanel" aria-labelledby="nav-{{ environment }}-tab">
            <div class="row">
              {% for service_deploy in service_deploys %}
                {% if environment == service_deploy.environment %}
                  <div class="col-md-3" style="margin-bottom: 30px">
                    <div class="card card-{{ service_deploy.environment }}">
                      <div class="card-body">
                        <h4 class="card-title">
                          {{ service_deploy.name }}
                        </h4>
                        <span class="badge {% if service_deploy.is_deployed_today %}badge-success{% else %}badge-secondary{% endif %}">
                          {{ service_deploy.deploy_timestamp }}
                        </span>
                        <br />
                        {% if service_deploy.duration %}
                          <span class="badge badge-info">{{ service_deploy.duration }}</span>
                        {% endif %}
                        {% if service_deploy.previous_duration %}
                          <span class="badge badge">{{ service_deploy.previous_duration }}</span>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
  jQuery(function() {
    jQuery('.nav-link').click(function () {
      location.href = jQuery(this).prop('href')
    });

    var reloadSecondsBox = jQuery('#reload_seconds');

    var reloadSeconds = Cookies.get('reload_seconds');
    reloadSeconds = parseInt(reloadSeconds);
    if (reloadSeconds < 5 || isNaN(reloadSeconds)) {
      reloadSeconds = 5
    }
    reloadSecondsBox.val(reloadSeconds);

    setTimeout(function () {
      location.reload()
    }, reloadSeconds * 1000);

    jQuery('#reload_countdown').text(reloadSeconds);
    setInterval(function () {
      reloadSeconds -= 1;
      jQuery('#reload_countdown').text(reloadSeconds);
    }, 1000);

    reloadSecondsBox.change(function () {
      Cookies.set('reload_seconds', jQuery(this).val());
    });

    if (location.hash) {
      jQuery(location.hash + '-tab').click();
    } else {
      jQuery('#environment-tab a:first-child').click();
    }
  })
  </script>
{% endblock %}
